@page "/childrenPage"
@inject IModalService Modal
@inject NavigationManager Navigation

<div class="container-fluid">
    @if (FamilyId == null)
    {
        <div class="row">
            <div class="col-md-6">
                Number of Children in Database : @Children.Count
            </div>
            <div>
                <button type="button" class="btn btn-primary" @onclick="@Create">Insert</button>
            </div>
        </div>
    }
    <div><h4>List Children</h4></div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Child FirstName</th>
                <th>Child LastName</th>
                <th>Child BirthDay</th>
                <th>Child Age</th>
                <th>Child CompleteName</th>
                @if (FamilyId == null)
                {
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Remove</th>
                }
                <th>Inscriptions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var child in PaginatedChild)
            {
                <tr>
                    <td>@child.FirstName</td>
                    <td>@child.LastName</td>
                    <td>@child.Birthday.ToLocalTime().ToShortDateString()</td>
                    <td>@child.Age</td>
                    <td>@child.CompleteName</td>
                    @if (FamilyId == null)
                    {
                        <td><button type="button" class="btn btn-info" @onclick="@(() => Detail(child.Id))">Detail</button></td>
                        <td><button type="button" class="btn btn-info" @onclick="@(() => Edit(child.Id))">Edit</button></td>
                        <td><button type="button" class="btn btn-info" @onclick="@(() => Delete(child.Id))">Remove</button></td>
                    }
                    <td><button type="button" class="btn btn-info" @onclick="@(() => InscriptionOfChild(child.Id))">Inscription</button></td>
                </tr>
            }
        </tbody>
    </table>
    @if (FamilyId == null)
    {
        <div>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <button class="page-link" @onclick="(() => Pagination(1))">First</button>
                    </li>
                    <li class="page-item">
                        @{var p = Index - 1 <= 0 ? 1 : Index - 1; }
                        <button class="page-link" @onclick="(() => Pagination(p))">...</button>
                    </li>

                    @for (var i = (Index - 3 < 0 ? 1 : Index - 3); i <= (Index + 3 >= NumberOfPage ? NumberOfPage : Index + 3); i++)
                    {
                        <li class="page-item">
                            @{var y = i; }
                            <button class="page-link" @onclick="(() => Pagination(y))" style="background-color: @(i == Index ? "blue" : null)">@i</button>
                        </li>
                    }
                    <li class="page-item">
                        @{var n = Index + 1 >= NumberOfPage ? NumberOfPage : Index + 1;}
                        <button class="page-link" @onclick="(() => Pagination(n))">...</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link" @onclick="(() => Pagination(NumberOfPage))">Last</button>
                    </li>
                </ul>
            </nav>
        </div>
    }

</div>
