@page "/detailParent/{ParentId}"
@inject IModalService Modal

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div><b>Parent Id : </b>@Parent.Id</div>
            <div><b>Parent FirstName : </b>@Parent.FirstName</div>
            <div><b>Parent LastName : </b>@Parent.LastName</div>
            <div><b>Parent Adress : </b>@Parent.Adress</div>
            <div><b>Parent Cp : </b>@Parent.Cp</div>
            <div><b>Parent City : </b>@Parent.City</div>
            <div><b>Parent FamilyId : </b>@Parent.FamilyId</div>
        </div>
    </div>
</div>
